@media screen and (max-width: 767px) {
    .header {
        margin-bottom: 20px;
    }

    .first-screen {
        &__title {
            h1 {
                font-size: 55px;
            }
        }
        &__subtitle {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__button {
            margin-bottom: 20px;
        }
    }
    .contacts__column {
        min-width: 0;
    }

    .menu__list {
        gap: 15px;
    }

}
