@media screen and (max-width: 767px) {

    .header {
        margin-bottom: 20px;
    }

    .first-screen {
        &__title {
            h1 {
                font-size: 55px;
            }
        }
        &__subtitle {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__button {
            margin-bottom: 20px;
        }

        &__contacts {
            margin-bottom: 50px;
            
        }
    }
    .contacts-column {
        min-width: 0;
    }

    .menu__list {
        gap: 15px;
    }

    .about {
        margin-bottom: 90px;
        .title {
            padding-top: 50px;
            padding-bottom: 40px;
        }
    }

    .work,
    .dishes,
    .chefs,
    .recipes,
    .social,
    .about {
        .recipes__content {
            gap: 10px;
        }

        .title {
            font-size: 30px;
    
            &::before {
                font-size: 80px;
            }
        }

        .work__advantages {
            gap: 20px;
        }
    }

    .event__cards {
        gap: 10px;
    }

    .card-big__content {
        padding: 15px 30px;
    }
}
