@media screen and (max-width: 320px) {
    .navbar {
        .container-fluid {
            justify-content: center;
        }
    }

    
    .menu__list {
        gap: 20px;
    }

    .first-screen {
        &__title {
            h1 {
                font-size: 23px;
            }
        }

        &__subtitle {
            h2 {
                font-size: 12px;
            }
        }

        .button {
            padding: 12px 30px;
            font-size: 15px;
        }
    }

    .contacts {
        flex-direction: column;
    }


    .about {
        .title {
            font-size: 16px;
        }
        &__subtitle {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .recipes {
        .title {
            font-size: 18px;
        }
    }

}