@media screen and (max-width: 991px) {
    .menu {
        &__link {
            font-size: 24px;
        }
        &__list {
            align-items: center;
            gap: 20px;
        }
    }
    
    .work__container {
        .work__advantages {
            flex-wrap: wrap;
            justify-content: center;
        } 
    }

    .first-screen__contacts {
        justify-content: center;
    }
}