@media screen and (max-width: 575px) {
    .header {
        margin-bottom: 20px;
    }
    
    .first-screen {
        &__title {
            h1 {
             font-size: 50px;
            } 
        }

        &__subtitle {
            h2 {
                font-size: 14px;
            }
        }

        &__button {
            margin-bottom: 20px;
        }
    }    

    .contacts   {
        &-column {
        gap: 5px;
        }

        &-title {
            h4 {
                font-size: 13px;
            }
        }

        &-subtitle {
            p {
                font-size: 12px;
            }
        }
    }

    .about {
        margin-bottom: 50px;
        .about {
            &__title {
                &::before {
                    font-size: 50px;
                    transform: translate(-50%, -20%);
                }
                h2 {
                    line-height: 30px;
                }
            }
            &__subtitle {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .work {
        .work__title {
            margin-bottom: 50px;
            h2 {
                font-size: 20px;
            }
            &::before {
                font-size: 50px;
            }
            &::after {
                margin-top: 5px;
            }
        }

        .work__advantages {
            gap: 10px;
        }
    }

    .dishes {
        .dishes__title {
            margin-bottom: 50px;
            padding-top: 50px;
            h2 {
                font-size: 20px;
            }
            &::before {
                font-size: 50px;
            }
            &::after {
                margin-top: 5px;
            }
        }
    }
}
