.chefs {
    margin-bottom: 30px;

    .title {
        &::before {
            content: "CHEFS";
        }
    }

    &__card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        overflow: hidden;
    }

    &-card {
        min-width: 350px;
        padding: 0 10px;

        &__about {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
        }

        &__icon {
            margin-right: 24px;
            max-width: 65px;

            img {
                height: 65px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }

        &__name {

            h4 {
                font-weight: 400;
                font-size: 18px;
                letter-spacing: -0.01em;

                a {
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        &__position {

            p {
                font-weight: 400;
                font-size: 12px;
                line-height: 133%;
                letter-spacing: -0.01em;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &__photo {
            display: flex;
            justify-content: space-between;

            .chefs-photo,
            .chefs-photo-big {
                width: 65px;
                height: 65px;
                object-fit: cover;
                object-position: center;
                
                &-big {
                    width: 160px;
                }
            }
        }
    }
}


