*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: $secondary-color;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #1A1A1A;
    color: #fff;
    background-image: url(assets/img/main-img.png);
    background-repeat: no-repeat;
    background-size: 100%;

    &::-webkit-scrollbar {   
        width: 5px;               /* ширина всієї смуги прокрутки */ 
    }
      
    &::-webkit-scrollbar-thumb {   
        background-color: $secondary-color;    /* колір скролбару */   
        border-radius: 20px;       /* заокруглення скролбару */
     }
}

[class*="__container"] {
    max-width: 1140px;
    padding: 0 15px;
    margin-inline: auto;
}

[class*="__subtitle"] {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: -0.2px;
        opacity: .7;
    }
}

.navbar {
    &-collapse {
        justify-content: flex-end;
    }
    
    &-toggler {
        &-icon {
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
}