*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: $secondary-color;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #1A1A1A;
    color: #fff;
    background-image: url(assets/img/main-img.png);
    background-repeat: no-repeat;
    background-size: 100%;

    &::-webkit-scrollbar {   
        width: 5px;               /* ширина всієї смуги прокрутки */ 
    }
      
    &::-webkit-scrollbar-thumb {   
        background-color: $secondary-color;    /* колір скролбару */   
        border-radius: 20px;       /* заокруглення скролбару */
     }
}

[class*="__container"] {
    max-width: 1140px;
    padding: 0 15px;
    margin-inline: auto;
}

.title {
    position: relative;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 90px;
    padding-top: 90px;
    font-weight: 400;
    font-size: 36px;
    line-height: 250%;
    letter-spacing: 0.2em;
    &::before {
        position: absolute;
        color: #303030;
        font-size: 100px;
        font-weight: 900;
        letter-spacing: 20px;
        z-index: -1;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    &::after {
        position: absolute;
        content: "";
        width: 60px;
        border: 1px solid #34C759;
        transform: translate(-50%, 0);
        left: 50%;
        top: 120%;
    }
}

[class*="__subtitle"] {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: -0.2px;
        opacity: .7;
    }
}

.button {
    font-weight: 900;
    font-size: 10px;
    line-height: 400%;
    letter-spacing: 0.2em;
    text-decoration: none;
    outline: 2px solid #303030;
    border-radius: 43px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    transition: all 0.3s linear;

    &:hover {
        outline: none;
        background-color: #34C759;
        color: #1A1A1A;
    }
}

.navbar {
    &-collapse {
        justify-content: flex-end;
    }
    
    &-toggler {
        &-icon {
            background-image: none;
        }
        &:focus {
            box-shadow: none;
        }
    }
}