.recipes {
    margin-bottom: 30px;
    .recipes {
        &__title {
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: capitalize;
            margin-bottom: 90px;
            padding-top: 90px;

            h2 {
                position: relative;
                font-weight: 400;
                font-size: 36px;
                line-height: 250%;
                letter-spacing: 0.2em;
            }
    
            &::before {
                content: "RECIPES";
                transform: translate(-50%, -20%);
            }
        }
        
    }
}

.content {
    &-tag {
        max-width: 90px;
        margin-inline: auto;
        margin-bottom: 65px;
        .tag {
            font-weight: 900;
            font-size: 10px;
            line-height: 250%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            text-align: center;
            background-color: #0000005c;
            border-radius: 5px;
            display: inline-block;
            padding: 0 15px;
        }
    }
    &-date {
        margin-bottom: 25px;
        .date {
            font-weight: 400;
            font-size: 14px;
            line-height: 214%;
        }
    }

    &-description {
        margin-bottom: 45px;
        .description {
            font-weight: 400;
            font-size: 24px;
            line-height: 167%;
            text-align: center;
        }
    }
} 




.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
}

.event__card {
    &-big {
        position: relative;
        max-width: 540px;
        background-image: url(assets/img/event-img-01.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        border-radius: 6px;
    }
}

.card-big {
    text-decoration: none;
    color: #fff;
    
    &:hover {
        .arrow {
            background-color: #34C759;
        }
    }  

    &__content {
        padding: 60px 90px;
    }

    &__activity {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        gap: 25px;
    }
}

.activity {
    &-visibility,
    &-comments {
        display: flex;
        gap: 15px;
    }
}

.visibility-number,
.comments-number {
    font-weight: 700;
    font-size: 12px;
    line-height: 250%;
}

.arrow {
    position: absolute;
    max-width: 40px;
    height: 40px;
    margin-left: auto;
    top: 30px;
    right: 30px;
    background: rgba(0, 0, 0, 0.3137254902);
    border-radius: 50%;
    transition: all .3s linear;

    img {
        padding: 13px;
    }
}