.work {
    margin-bottom: 120px;
    
    .title {
        &::before {
            content: "WORK";
        }
    }
}

.work__container {
    .work {
        &__advantages {
            display: flex;
            gap: 30px;
            
            a {
                &:hover {
                    background-color: $secondary-color;
    
                    .advantage {
                        &-title,
                        &-subtitle {
                            color: #000;
                        }
                
                        &-decoration {
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }
    }
}

.advantage {
    background-color: #252525;
    border-radius: 6px;
    padding: 24px;
    max-width: 255px;

    &-title {
        h3 {
            font-weight: 400;
            font-size: 22px;
            letter-spacing: -0.01em;
            text-transform: capitalize;
            transition: all .3s linear;
        }
    }
    
    &-subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 138%;
        letter-spacing: -0.01em;
        color: rgba(255, 255, 255, 0.5);

        p {
            transition: all .3s linear;
        }
    }
    
    &-decoration {
        width: 56px;
        border: 1px solid $secondary-color;
        margin-top: 20px;
        margin-bottom: 24px;
        transition: all .3s linear;
    }
}

