<section id="about" class="about">
    <div class="about__container aos-init aos-animate" data-aos="fade-down" data-aos-easing="linear"
    data-aos-duration="1000">
        <div class="about__title">
            <h2>The Basics Of Healthy Food</h2>
        </div>
        <div class="about__subtitle">
            <p>In aliqua ea ullamco ad est ex non deserunt nulla. Consectetur sint ea aliquip aliquip consectetur voluptate est. Eu minim dolore laboris enim mollit voluptate irure esse aliquip.</p>
        </div>
        <div class="about__swipe">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="assets/img/about-img.png">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/img/about-img-2.png">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/img/dish-img-1.png">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/img/dish-img-2.png">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/img/dish-img-3.png">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/img/dish-img-5.png">
                  </div>
                  <div class="swiper-slide">
                    <img src="assets/img/dish-img-6.png">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>