<section id="chefs" class="chefs">
    <div class="chefs__container">
        <div class="chefs__title">
            <h2>This month's chefs</h2>
        </div>
        <div class="chefs__card-container">
            <div class="chefs-card">
                <div class="chefs-card__about">
                    <div class="chefs-card__icon">
                        <img src="assets/img/chef-avatar-1.png" class="chefs-icon" alt="Chef Icon">
                    </div>
                    <div class="chefs-card__information">
                        <div class="chefs-card__name">
                            <h4>Gregory Flores</h4>
                        </div>
                        <div class="chefs-card__position">
                            <p>Chef of the cold</p>
                        </div>
                    </div>
                </div>
                <div class="chefs-card__photo">
                    <img src="assets/img/chef-img.png" class="chefs-photo-big" alt="Chef Photo">
                    <img src="assets/img/dish-img-2.png" class="chefs-photo" alt="Chef Photo">
                    <img src="assets/img/dish-img-3.png" class="chefs-photo" alt="Chef Photo">
                </div> 
            </div>
        
            <div class="chefs-card">
                <div class="chefs-card__about">
                    <div class="chefs-card__icon">
                        <img src="assets/img/chef-avatar-2.png" class="chefs-icon" alt="Chef Icon">
                    </div>
                    <div class="chefs-card__information">
                        <div class="chefs-card__name">
                            <h4>Annette Cooper</h4>
                        </div>
                        <div class="chefs-card__position">
                            <p>Chef of the hot</p>
                        </div>
                    </div>
                </div>
                <div class="chefs-card__photo">
                    <img src="assets/img/chef-img-4.png" class="chefs-photo-big" alt="Chef Photo">
                    <img src="assets/img/chef-img-5.png" class="chefs-photo" alt="Chef Photo">
                    <img src="assets/img/chef-img-6.png" class="chefs-photo" alt="Chef Photo">
                </div> 
            </div>
        
            <div class="chefs-card">
                <div class="chefs-card__about">
                    <div class="chefs-card__icon">
                        <img src="assets/img/chef-avatar-3.png" class="chefs-icon" alt="Chef Icon">
                    </div>
                    <div class="chefs-card__information">
                        <div class="chefs-card__name">
                            <h4>Greg Fox</h4>
                        </div>
                        <div class="chefs-card__position">
                            <p>Сhef macro kitchen</p>
                        </div>
                    </div>
                </div>
                <div class="chefs-card__photo">
                    <img src="assets/img/chef-img-7.png" class="chefs-photo-big" alt="Chef Photo">
                    <img src="assets/img/chef-img-8.png" class="chefs-photo" alt="Chef Photo">
                    <img src="assets/img/chef-img-9.png" class="chefs-photo" alt="Chef Photo">
                </div> 
            </div>
        </div>

    </div>
</section>