<section id="dishes" class="dishes">
    <div class="dishes__container">
        <div class="dishes__title">
            <h2>Dish of the day</h2>
        </div>
        <div class="dishes__card">
            <div class="card-img">
                <a href=""><img src="assets/img/dish-img-1.png" alt="Dish image"></a>
            </div>


            <div class="card__description">
                <div class="card-title">
                    <h3>Featured Meal</h3>
                </div>
                <div class="card-subtitle">
                    <p>Served with french fries + drink</p>
                </div>
                <div class="card-about">
                    <p>Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add whopper patty, Add Tender crisp patty and more...</p>
                </div>
            </div>

            <div class="card__actions">
                <div class="actions-rating">

                </div>
                <div class="actions-button">
                    <a href="" class="button">order</a>
                </div>
            </div>
        </div>
    </div>
</section>