<section id="dishes" class="dishes">
	<div class="dishes__container">
		<div class="dishes__title">
			<h2 class="title">Dish of the day</h2>
		</div>
		<div class="dishes__card-container">
			<div class="dishes__card">
				<div class="card-img">
					<a href="">
						<img src="assets/img/dish-img-1.png" alt="Dish image" />
						<img
							src="assets/img/dishes-arrow.png"
							class="dish-decor"
							alt="Arrow"
						/>
					</a>
				</div>
				<div class="card__description">
					<div class="card-title">
						<h3><a href="#">Featured Meal</a></h3>
					</div>
					<div class="card-subtitle">
						<p>Served with french fries + drink</p>
					</div>
					<div class="card-about">
						<p>
							Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add
							whopper patty, Add Tender crisp patty and more...
						</p>
					</div>
				</div>
				<div class="card__actions">
					<div class="actions-rating">
						<div class="actions-rating__items">
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="5"
							/>
							<label class="actions-rating__label" data-value="5"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="4"
							/>
							<label class="actions-rating__label" data-value="4"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="3"
							/>
							<label class="actions-rating__label" data-value="3"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="2"
							/>
							<label class="actions-rating__label" data-value="2"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="1"
							/>
							<label class="actions-rating__label" data-value="1"></label>
						</div>
					</div>
					<div class="actions-rating__count"></div>
					<div class="actions-button">
						<a href="" class="button">order</a>
					</div>
				</div>
			</div>
			<div class="dishes__card">
				<div class="card-img">
					<a href="">
						<img src="assets/img/dish-img-2.png" alt="Dish image" />
						<img
							src="assets/img/dishes-arrow.png"
							class="dish-decor"
							alt="Arrow"
						/>
					</a>
				</div>
				<div class="card__description">
					<div class="card-title">
						<h3><a href="#">Featured Meal</a></h3>
					</div>
					<div class="card-subtitle">
						<p>Served with french fries + drink</p>
					</div>
					<div class="card-about">
						<p>
							Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add
							whopper patty, Add Tender crisp patty and more...
						</p>
					</div>
				</div>
				<div class="card__actions">
					<div class="actions-rating">
						<div class="actions-rating__items">
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="5"
							/>
							<label class="actions-rating__label" data-value="5"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="4"
							/>
							<label class="actions-rating__label" data-value="4"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="3"
							/>
							<label class="actions-rating__label" data-value="3"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="2"
							/>
							<label class="actions-rating__label" data-value="2"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="1"
							/>
							<label class="actions-rating__label" data-value="1"></label>
						</div>
					</div>
					<div class="actions-rating__count"></div>
					<div class="actions-button">
						<a href="" class="button">order</a>
					</div>
				</div>
			</div>
			<div class="dishes__card">
				<div class="card-img">
					<a href="">
						<img src="assets/img/dish-img-3.png" alt="Dish image" />
						<img
							src="assets/img/dishes-arrow.png"
							class="dish-decor"
							alt="Arrow"
						/>
					</a>
				</div>
				<div class="card__description">
					<div class="card-title">
						<h3><a href="#">Featured Meal</a></h3>
					</div>
					<div class="card-subtitle">
						<p>Served with french fries + drink</p>
					</div>
					<div class="card-about">
						<p>
							Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add
							whopper patty, Add Tender crisp patty and more...
						</p>
					</div>
				</div>
				<div class="card__actions">
					<div class="actions-rating">
						<div class="actions-rating__items">
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="5"
							/>
							<label class="actions-rating__label" data-value="5"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="4"
							/>
							<label class="actions-rating__label" data-value="4"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="3"
							/>
							<label class="actions-rating__label" data-value="3"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="2"
							/>
							<label class="actions-rating__label" data-value="2"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="1"
							/>
							<label class="actions-rating__label" data-value="1"></label>
						</div>
					</div>
					<div class="actions-rating__count"></div>
					<div class="actions-button">
						<a href="" class="button">order</a>
					</div>
				</div>
			</div>
			<div class="dishes__card">
				<div class="card-img">
					<a href="">
						<img src="assets/img/dish-img-4.png" alt="Dish image" />
						<img
							src="assets/img/dishes-arrow.png"
							class="dish-decor"
							alt="Arrow"
						/>
					</a>
				</div>
				<div class="card__description">
					<div class="card-title">
						<h3><a href="#">Featured Meal</a></h3>
					</div>
					<div class="card-subtitle">
						<p>Served with french fries + drink</p>
					</div>
					<div class="card-about">
						<p>
							Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add
							whopper patty, Add Tender crisp patty and more...
						</p>
					</div>
				</div>
				<div class="card__actions">
					<div class="actions-rating">
						<div class="actions-rating__items">
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="5"
							/>
							<label class="actions-rating__label" data-value="5"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="4"
							/>
							<label class="actions-rating__label" data-value="4"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="3"
							/>
							<label class="actions-rating__label" data-value="3"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="2"
							/>
							<label class="actions-rating__label" data-value="2"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="1"
							/>
							<label class="actions-rating__label" data-value="1"></label>
						</div>
					</div>
					<div class="actions-rating__count"></div>
					<div class="actions-button">
						<a href="" class="button">order</a>
					</div>
				</div>
			</div>
			<div class="dishes__card">
				<div class="card-img">
					<a href="">
						<img src="assets/img/dish-img-5.png" alt="Dish image" />
						<img
							src="assets/img/dishes-arrow.png"
							class="dish-decor"
							alt="Arrow"
						/>
					</a>
				</div>
				<div class="card__description">
					<div class="card-title">
						<h3><a href="#">Featured Meal</a></h3>
					</div>
					<div class="card-subtitle">
						<p>Served with french fries + drink</p>
					</div>
					<div class="card-about">
						<p>
							Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add
							whopper patty, Add Tender crisp patty and more...
						</p>
					</div>
				</div>
				<div class="card__actions">
					<div class="actions-rating">
						<div class="actions-rating__items">
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="5"
							/>
							<label class="actions-rating__label" data-value="5"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="4"
							/>
							<label class="actions-rating__label" data-value="4"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="3"
							/>
							<label class="actions-rating__label" data-value="3"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="2"
							/>
							<label class="actions-rating__label" data-value="2"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="1"
							/>
							<label class="actions-rating__label" data-value="1"></label>
						</div>
					</div>
					<div class="actions-rating__count"></div>
					<div class="actions-button">
						<a href="" class="button">order</a>
					</div>
				</div>
			</div>
			<div class="dishes__card">
				<div class="card-img">
					<a href="">
						<img src="assets/img/dish-img-6.png" alt="Dish image" />
						<img
							src="assets/img/dishes-arrow.png"
							class="dish-decor"
							alt="Arrow"
						/>
					</a>
				</div>
				<div class="card__description">
					<div class="card-title">
						<h3><a href="#">Featured Meal</a></h3>
					</div>
					<div class="card-subtitle">
						<p>Served with french fries + drink</p>
					</div>
					<div class="card-about">
						<p>
							Choice of: Coke, Fanta, Sprite, Upgrade to large fries, Add
							whopper patty, Add Tender crisp patty and more...
						</p>
					</div>
				</div>
				<div class="card__actions">
					<div class="actions-rating">
						<div class="actions-rating__items">
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="5"
							/>
							<label class="actions-rating__label" data-value="5"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="4"
							/>
							<label class="actions-rating__label" data-value="4"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="3"
							/>
							<label class="actions-rating__label" data-value="3"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="2"
							/>
							<label class="actions-rating__label" data-value="2"></label>
							<input
								type="radio"
								class="actions-rating__item"
								name="actions-rating"
								value="1"
							/>
							<label class="actions-rating__label" data-value="1"></label>
						</div>
					</div>
					<div class="actions-rating__count"></div>
					<div class="actions-button">
						<a href="" class="button">order</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
