<section  class="first-screen">
    <div class="first-screen__container">
        <div class="first-screen__title">
            <h1>Your <span>favourite food</span> delivered <span> hot & fresh</span></h1>
        </div>
        <div class="first-screen__subtitle">
            <h2>HEALTHY SWITCHER chefs do all the prep work, like peeling, chopping & marinating, so you can cook a fresh homemade dinner in just 15 minutes.</h2>
        </div>
        <div class="first-screen__button">
            <a href="#dish" class="button">Order Now</a>
        </div>
        <div class="first-screen__contacts">
            <div class="contacts__time"></div>
            <div class="contacts__direction"></div>
            <div class="contacts__phone"></div>
        </div>
    </div>
</section>