<section id="first-screen" class="first-screen">
    <div class="first-screen__container">
        <div class="first-screen__title">
            <h1>Your <span>favourite food</span> delivered <span> hot & fresh</span></h1>
        </div>
        <div class="first-screen__subtitle">
            <p>HEALTHY SWITCHER chefs do all the prep work, like peeling, chopping & marinating, so you can cook a fresh homemade dinner in just 15 minutes.</p>
        </div>
        <div class="first-screen__button">
            <a href="#dish" class="button">Order Now</a>
        </div>
        <div class="first-screen__contacts">
            <div class="contacts-column">
                <div class="contacts-icon">
                    <img src="assets/img/contacts-decor-watch.png" alt="Contacts icon">
                </div>
                <div class="contacts-title">
                    <h4>Today 10:00 am - 7:00 pm</h4>
                </div>
                <div class="contacts-subtitle">
                    <p>Working hours</p>
                </div>
            </div>
            <div class="contacts-column">
                <div class="contacts-icon">
                    <img src="assets/img/contacts-decor-arrow.png" alt="Contacts icon">
                </div>
                <div class="contacts-title">
                    <h4>Velyka Vasylkivska 100</h4>
                </div>
                <div class="contacts-subtitle">
                    <p>Get Directions</p>
                </div>
            </div>
            <div class="contacts-column">
                <div class="contacts-icon">
                    <img src="assets/img/contacts-decor-phone.png" alt="Contacts icon">
                </div>
                <div class="contacts-title">
                    <h4>+38 (063) 833 24 15</h4>
                </div>
                <div class="contacts-subtitle">
                    <p>Call Online</p>
                </div>
            </div>
        </div>
    </div>
</section>