<footer>
	<section id="footer" class="footer">

            <div class="footer-contacts contacts">
                <div class="contacts-column">
                    <div class="contacts-icon">
                        <img src="assets/img/contacts-decor-watch.png" alt="Contacts icon" />
                    </div>
                    <div class="contacts-title">
                        <h4>Today 10:00 am - 7:00 pm</h4>
                    </div>
                    <div class="contacts-subtitle">
                        <p>Working hours</p>
                    </div>
                </div>
                <div class="contacts-column">
                    <div class="contacts-icon">
                        <img src="assets/img/contacts-decor-arrow.png" alt="Contacts icon" />
                    </div>
                    <div class="contacts-title">
                        <h4>Velyka Vasylkivska 100</h4>
                    </div>
                    <div class="contacts-subtitle">
                        <p>Get Directions</p>
                    </div>
                </div>
                <div class="contacts-column">
                    <div class="contacts-icon">
                        <img src="assets/img/contacts-decor-phone.png" alt="Contacts icon" />
                    </div>
                    <div class="contacts-title">
                        <h4>+38 (063) 833 24 15</h4>
                    </div>
                    <div class="contacts-subtitle">
                        <p><a href="tel:+380638332415">Call Online</a></p>
                    </div>
                </div>
            </div>

    </section>
</footer>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script async src="assets/js/custom.js"></script>
</body>
</html>