<header class="header">
	<nav class="header__menu menu navbar navbar-expand-lg">
		<div class="header__container container-fluid">
			<a href="#" class="header__logo">
				<img src="assets/img/logo.svg" class="logo-header" alt="Logo" />
				<img src="assets/img/logo-name.svg" class="logo-name" alt="Logo name" />
			</a>
			<button
				class="navbar-toggler hamburger--collapse hamburger"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav menu__list">
					<li class="menu__item">
						<a href="#dishes" class="menu__link">Menu</a>
					</li>
					<li class="menu__item">
						<a href="#recipes" class="menu__link">Recipes</a>
					</li>
					<li class="menu__item">
						<a href="#chefs" class="menu__link">Chefs</a>
					</li>
					<li class="menu__item">
						<a href="#footer" class="menu__link">Contacts</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="header__decoration"></div>
</header>
