<section id="recipes" class="recipes">
	<div class="recipes__container">
		<div class="recipes__title">
			<h2 class="title">Recipes From Our Chefs</h2>
		</div>
		<div class="recipes__content">
			<div class="event__card-big">
				<a href="" class="card-big">
					<!-- <div class="arrow">
						<img src="assets/img/arrow-icon.png" alt="Arrow icon" />
					</div> -->
					<div class="card-big__content">
						<div class="content-tag">
							<p class="tag">breakfast</p>
						</div>
						<div class="content-date">
							<p class="date">05 Jul 2016</p>
						</div>
						<div class="content-description">
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit
							</p>
						</div>
						<div class="content-name">
							<p class="name">Jason Keller</p>
						</div>
					</div>
					<div class="card-big__activity">
						<div class="activity-visibility">
							<div class="visibility-icon">
								<img src="assets/img/visibility-icon.png" alt="Visibility" />
							</div>
							<div class="visibility-number">275</div>
						</div>
						<div class="activity-comments">
							<div class="comments-icon">
								<img src="assets/img/comments-icon.png" alt="Comments" />
							</div>
							<div class="comments-number">12</div>
						</div>
					</div>
				</a>
			</div>
			<div class="event__cards">
				<div class="event__card-small lunch">
					<a href="" class="card-small">
						<div class="card-small-description">
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut
							</p>
						</div>
						<div class="card-small__info">
							<div class="card-small__content">
								<div class="content-tag">
									<p class="tag">lunch</p>
								</div>
								<div class="content-date">
									<p class="date">05 Jul 2016</p>
								</div>
							</div>
							<div class="card-small__activity">
								<div class="activity-visibility">
									<div class="visibility-icon">
										<img
											src="assets/img/visibility-icon.png"
											alt="Visibility"
										/>
									</div>
									<div class="visibility-number">275</div>
								</div>
								<div class="activity-comments">
									<div class="comments-icon">
										<img src="assets/img/comments-icon.png" alt="Comments" />
									</div>
									<div class="comments-number">12</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="event__card-small sweets">
					<a href="" class="card-small">
						<div class="card-small-description">
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut
							</p>
						</div>
						<div class="card-small__info">
							<div class="card-small__content">
								<div class="content-tag">
									<p class="tag">sweets</p>
								</div>
								<div class="content-date">
									<p class="date">05 Jul 2016</p>
								</div>
							</div>
							<div class="card-small__activity">
								<div class="activity-visibility">
									<div class="visibility-icon">
										<img
											src="assets/img/visibility-icon.png"
											alt="Visibility"
										/>
									</div>
									<div class="visibility-number">275</div>
								</div>
								<div class="activity-comments">
									<div class="comments-icon">
										<img src="assets/img/comments-icon.png" alt="Comments" />
									</div>
									<div class="comments-number">12</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="event__card-small dinner">
					<a href="" class="card-small">
						<div class="card-small-description">
							<p class="description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut
							</p>
						</div>
						<div class="card-small__info">
							<div class="card-small__content">
								<div class="content-tag">
									<p class="tag">dinner</p>
								</div>
								<div class="content-date">
									<p class="date">05 Jul 2016</p>
								</div>
							</div>
							<div class="card-small__activity">
								<div class="activity-visibility">
									<div class="visibility-icon">
										<img
											src="assets/img/visibility-icon.png"
											alt="Visibility"
										/>
									</div>
									<div class="visibility-number">275</div>
								</div>
								<div class="activity-comments">
									<div class="comments-icon">
										<img src="assets/img/comments-icon.png" alt="Comments" />
									</div>
									<div class="comments-number">12</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
