<section id="social" class="social">
	<div class="social__container">
		<div class="social__title">
			<h2 class="title">We in social</h2>
		</div>
		<div class="social__cards">
			<div class="social__card">
				<div class="social__card-header">
					<div class="card-header-icon">
						<img
							src="assets/img/icon-facebook.png"
							class="header-icon-card"
							alt="Facebook icon"
						/>
					</div>
					<div class="card-header-company">
						<a href="https://www.facebook.com" class="header-company-card">
							Facebook
						</a>
					</div>
					<div class="card-header-button">
						<a href="https://www.facebook.com" class="button"> Follow us </a>
					</div>
				</div>
				<div class="social__card-body">
					<iframe
						src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fposts%2Fpfbid0zE7QHSWvhoybRYC2Wiy6vkcUoXoAhU54Qmne1EHtYdd2AnTys5mXdpsE3rknMLoEl&show_text=true&width=500"
						style="border: none; overflow: hidden; background-color: #303030"
						width="100%"
						scrolling="no"
						frameborder="0"
						allowfullscreen="true"
						allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
					></iframe>
				</div>
			</div>
			<div class="social__card">
				<div class="social__card-header">
					<div class="card-header-icon">
						<img
							src="assets/img/icon-twitter.png"
							class="header-icon-card"
							alt="Twitter icon"
						/>
					</div>
					<div class="card-header-company">
						<a href="https://www.twitter.com" class="header-company-card">
							Twitter
						</a>
					</div>
					<div class="card-header-button">
						<a href="https://www.twitter.com" class="button"> Follow us </a>
					</div>
				</div>
				<div class="social__card-body">
					<blockquote class="twitter-tweet" data-media-max-width="560">
						<p lang="en" dir="ltr">
							Some memories stick with you forever. Others follow you around the
							internet for 28 years. Happy birthday,
							<a href="https://twitter.com/Windows?ref_src=twsrc%5Etfw"
								>@Windows</a
							>.
							<a href="https://t.co/CUqLN2fqlW">pic.twitter.com/CUqLN2fqlW</a>
						</p>
						&mdash; Bill Gates (@BillGates)
						<a
							href="https://twitter.com/BillGates/status/1694791112567967849?ref_src=twsrc%5Etfw"
							>August 24, 2023</a
						>
					</blockquote>
					<script
						async
						src="https://platform.twitter.com/widgets.js"
						charset="utf-8"
					></script>
				</div>
			</div>
			<div class="social__card">
				<div class="social__card-header">
					<div class="card-header-icon">
						<img
							src="assets/img/icon-map.png"
							class="header-icon-card"
							alt="Google maps icon"
						/>
					</div>
					<div class="card-header-company">
						<a href="https://www.google.com/maps" class="header-company-card">
							Google Maps
						</a>
					</div>
					<div class="card-header-button">
						<a href="https://www.google.com/maps" class="button"> Follow us </a>
					</div>
				</div>
				<div class="social__card-body">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107894.99033214625!2d-64.84880220100024!3d32.319417053985624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8a2d6ccc590c22f1%3A0x644564bbeda93ccd!2sJohn%20Smith&#39;s%20Bay%20Beach!5e0!3m2!1suk!2sua!4v1710688084964!5m2!1suk!2sua"
						width="100%"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
